<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ghala System</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex items-center justify-center">
    <div class="bg-white shadow-xl rounded-xl p-8 max-w-md w-full text-center">
        <h1 class="text-3xl font-bold text-blue-600 mb-4">Ghala Payment Simulator</h1>
        <p class="text-gray-700 mb-6">Welcome Select Task:</p>
    </div>
    <div class="flex flex-colspace-y-4">
        <a href="/merchant-settings" class="block w-full bg-green-500 text-white font-semibold py-2 rounded hover:bg-green-600">Enter Merchant Settings</a>
        <a href="/orders" class="block w-full bg-blue-500 text-white font-semibold py-2 rounded hover:big-blue-600">Check All Orders</a>
    </div>
    
</body>
</html>